* {
  box-sizing: border-box;
}
 .section1 ul {
  list-style-type: none;
  margin: 0;
  padding: 14px;
  display: flex;
  justify-content: center;
  height: 3.7%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  border-radius: 0px 0px 40px 40px;
}
.section1 li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 40px 20px 40px;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}
li a{
  transition: 0.6s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
li a:hover:not(.active) {
  color: #aaa9a9;
}
.navimg {
  position: absolute;
  left: 15px;
}
.navimg img {
  height: 65px;
  vertical-align: middle;
  padding-bottom: 10%;
  padding-left: 10%;
}
.texticon {
  position: absolute;
  left: 110px;
  line-height: 11px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 11px;
}
.login {
  position: absolute;
  right: 20px;
}

.login .material-symbols-outlined {
  font-size: 24px;
  padding-right: 10px;
}
body {
  background-image: url("../img/Lawrencium.jpg");
}
.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.container1 h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  font-size: 100px;
  text-align: center;
  

}
.container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
padding-bottom: 10px;
}
.container2 h1 {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  font-size: 100px;
  text-align: center;
    padding-bottom: 10px;
      padding: 50px
}
.imgcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 10%;
  padding: 50px
}
.meetingimage {
  width: 100%;
  height: 70vh;
  border: 5px solid #7600bc;
  border-radius: 125px;
}
.rulesbox {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 33px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 40, 138);
  border: 5px solid rgb(52, 40, 138);
  border-radius: 100px;
  padding: 50px;
  font-family: "Noto Sans Arabic", sans-serif;
  line-height: 100px;
padding: 50px
}
.rulesbox2 {
  
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 40, 138);
  border: 5px solid rgb(52, 40, 138);
  border-radius: 100px;
    padding: 50px;
    margin-top:-150px;
    margin-bottom: -150px;

}
.rulesbox2 p {
  line-height: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section3 {
  height: 100vh;
}
.container3 {
  display: flex;
  justify-content: center;
  flex-direction: column;padding: 50px
}
.container3 h1 {
  text-align: center;
    font-family: "Rubik Mono One", sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    padding-bottom: 10px;
    padding: 50px;
  word-spacing: 0.3em;
}
.rulesbox3 {
  margin-top: 0px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 40, 138);
  border: 5px solid rgb(52, 40, 138);
  border-radius: 100px;
  padding: 50px
}
.rulesbox3 p {
  line-height: 90px;
  font-family: "Noto Sans Arabic", sans-serif;
}
.container3 div {
  text-align: center;
}
.rulesbox4 {
  margin-top: 0px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 40, 138);
  border: 5px solid rgb(52, 40, 138);
  border-radius: 100px;
  padding: 50px
}
.container4{
  display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;padding: 50px
}
.container4 h1{
  text-align: center;
    font-family: "Rubik Mono One", sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    padding-bottom: 10px;
    padding: 50px
}
.rulesbox4{
    margin-top: 0px;
      text-align: center;
      color: white;
      font-size: 50px;
      font-weight: 600;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(52, 40, 138);
      border: 5px solid rgb(52, 40, 138);
      border-radius: 100px;
      padding: 40px;
      direction:rtl;
      margin-bottom: 150px;
}
.rulesbox4 li{
  text-align: right;
}
.section7{
  height:25vh;
  width:100%;
  background-image: url("../img/80_s Purple.jpg");
  
  }
  .section7 ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 14px;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: row;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px -10px 10px -10px black;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px -10px 10px -10px black;
  }
  .section7 ul img {
    width: 200px;
  }
  .section7 ul li {
    text-align: center;
  }
  .Tracks{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Contacts{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Partners{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Social{
    margin-left: 50px;
    margin-right: 50px;
  }
  .section7 ul li p {
    color: #717171;
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin: 8px;
  }
  .Tracks1{
    font-family: 'Rubik Mono One', sans-serif;
    display: inline;
  }
  .links {
    text-decoration: none;
  }
  .links:visited{
    color: #717171;
  }