.section1{
    height: 100vh;
    background-image: url('../img/carousel1.png');
    background-size: cover;
    z-index: -1;
}
.layer{
    background-color: rgb(71, 138, 216, 1);
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.col11 {
    width: 100%;
    text-align: center;
    z-index: 1;
}
.col11 img{
    width: 21%;
}
.col12{
    text-align: center;
    z-index: 1;
    margin: auto;
}
.col12 img{
    width: 130px;
}
.col13{
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 60%;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    -webkit-border-radius: 40px 40px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    -ms-border-radius: 40px 40px 0px 0px;
    -o-border-radius: 40px 40px 0px 0px;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
.col13 h1{
    font-family: "Press Start 2P";
    margin-top: 10;
}
.col13 img {
    width: 100px;
    margin-top: 0px;
}
.col13 input{
    border: 3px solid #808080;
    margin-bottom: 20px;
    border-radius: 25px ;
    padding: 10px;
}
input[id='email']{
    margin-top: 20px;
}
input[type='text']::placeholder
    {   
        text-align: center;      /* for Chrome, Firefox, Opera */
        color: #808080;
        font-size: 10px;
        font-family: "Press Start 2P";
        font-weight: 900;
        font-style: italic;
    }
input[type='password']::placeholder
    {   
        text-align: center;      /* for Chrome, Firefox, Opera */
        color: #808080;
        font-size: 10px;
        font-family: "Press Start 2P";
        font-weight: 900;
        font-style: italic;
    }
    .col13 button {
        background-color: rgb(215, 111, 206);
        padding: 15px;
        border-radius: 25px;
        color: white;
        font-family: "Press Start 2P";
        border: none;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color , 0.3s ease;
    }
    .col13 button:hover{
        background-color: black;
    }
    select {
        background-color: #808080;;
        color:white;
        font-family: "Press Start 2P";
        padding: 8px;
        transition: background-color , 0.3s ease;
        border: none;
        border-radius: 25px;
    }